<!DOCTYPE html>
<html>
<head>
  <title>Modals</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>


<!-- place me in application.html.erb footer -->
<% if Rails.env.development? %>
		 <% console %>
		 <%= debug(assigns) %>
		 <%= debug(params) %>
<%end%>

</body>
</html>
